/* @media print { */
  :root {
    font: normal normal 400 12pt/1.4 system-ui;
  }

  body, button, input, table, textarea, select {
    font-family: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  a:after {
    content: "("attr(href)")";
  }
/* } */