/* Источники:
https://freedium.cfd/https://medium.com/codex/designing-for-print-html-illiteracy-part-3-of-2-8b358c8b74d5 (Jason Knight
*/
:root {
		font: normal normal 400 12pt/1.4 system-ui;
	}

	body, button, input, table, textarea, select {
		font-family: inherit;
	}
	
	a {
		text-decoration: none;
		color: inherit;
	}

/* Отображаем адрес ссылки при печати */
@media print {
	a:after {
		content:"("attr(href)")";
	}
}