@import url("../normalize.css");

:root {
	color-scheme: light dark;
	--transition-base: 0.3s;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 2rem;
	--bg-light: white;
	--bg-dark: #1c1b22;
}

body {
	margin-inline: var(--spacing-lg);
}

.modal,
.overlay {
	position: absolute;
	top: 0;
	left: -100vw;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	padding: var(--spacing-lg);
	overflow: auto;
	opacity: 0;
	transition: opacity var(--transition-base), left var(--transition-base);
	z-index: 100;
}
.overlay {
	background: rgba(0 0 0 / 0.6);
	z-index: 50;
}
.modal:target,
.modal:target ~ .overlay {
	left: 0;
	opacity: 1;
}
.modal .modalClose {
	position: absolute;
	inset: 0;
	z-index: 0;
	cursor: default;
}
.modal .modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal .modalContent {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	background-color: light-dark(var(--bg-light), var(--bg-dark));
	padding: var(--spacing-md);
	z-index: 150;
	max-width: 82ch;
}
html:has(.modal:target) {
	overflow: hidden;
}
html:has(.modal:target)::-webkit-scrollbar {
	display: none;
}

.loginForm {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--spacing-md);
}
.loginForm label:not(:has(input[type="checkbox"])) {
	display: inline-flex;
	flex-direction: column;
	gap: var(--spacing-sm);
}
.loginForm fieldset {
	display: grid;
	grid-template-columns: auto;
	gap: var(--spacing-md);
}
.loginForm .modalClose {
	position: relative;
	display: inline-block;
	font-size: x-large;
	text-decoration: none;
	color: #c00;
	cursor: pointer;
	z-index: 1;
}
.loginForm .modalClose::after {
	content: "\1F5D9";
}

.paragraphs {
	columns: 12rem;
}
.paragraphs > p {
	break-inside: avoid;
}

.mainHeader,
.mainFooter {
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-md);
	padding-block: var(--spacing-md);
}
.mainHeader {
	align-items: baseline;
}
.mainFooter {
	margin-top: var(--spacing-lg);
}
